## Content table

 [Concatenate](#first-bullet)
 
 [Upper](#second-bullet)

[Lower](#third-bullet)

[Capitalize](#fourth-bullet)

[Replace](#fifth-bullet)

[Title](#sixth-bullet)

[Split](#seventh-bullet)

#### Concatenate <a class="anchor" id="first-bullet"></a>

In [15]:
## Concatenate two strings

name = 'Bob'
lastname = 'Brown'
fullname = name + lastname

#no space
print('Full name_1 = ', fullname)

#space 
print('Full name', name,lastname)

Full name_1 =  BobBrown
Full name Bob Brown

In [16]:
#Concatenate string and number
age = 50

print('Full name', name, lastname, f"age: {age}")

'''f concatenates strings and other type of data. Notice that both data are
inside the quotation marks '''

Full name Bob Brown age: 50

'f concatenates strings and other type of data. Notice that both data are\ninside the quotation marks '

In [17]:
message = 'your age is'
print(f"{message} {age}")

your age is 50

#### Upper <a class="anchor" id="second-bullet"></a>

Transforms all the letters into capital letters

In [18]:
name_1 = 'Bob'
name_1 = name_1.upper()
print(name_1)

BOB

#### Lower <a class="anchor" id="third-bullet"></a>

Transforms all the letters into lower case

In [19]:
name_2 = name_1.lower()
print(name_2)

bob

#### Capitalize <a class="anchor" id="fourth-bullet"></a>

Transforms the first letter of the string into a capital letter

In [20]:
name_3 = name_2.capitalize()
print(name_3)

Bob

#### Replace <a class="anchor" id="fifth-bullet"></a>

Replace the letter of a string with the new specified letters

In [21]:
str_1 = "Data analysis"
str_1 = str_1.replace("Data", "Introduction to data")
str_1

'Introduction to data analysis'

#### Title <a class="anchor" id="sixth-bullet"></a>

Capitalize the first letter after a space

In [22]:
str_2 = str_1.title()
str_2

'Introduction To Data Analysis'

#### Split <a class="anchor" id="seventh-bullet"></a>

Splits the string after the specified symbol into a list of strings

In [23]:
str_3 = str_2.split('o')
print(str_3)
print(type(str_3))

['Intr', 'ducti', 'n T', ' Data Analysis']
<class 'list'>